<footer>
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 d-flex flex-column justify-content-between">
				<a class="bs-to-home" href="/">
					<svg class="bs-svg bs-logo-bosseini" viewBox="0 0 304.5 73">
						<use xlink:href="#bs-logo-bosseini" />
					</svg>
				</a>
				<ul>
					<li><a href="/about-us">About Us</a></li>
					<li><a href="/#coming-soon">Coming Soon</a></li>
					<li><a href="/#future">Future Developments</a></li>
					<li><a href="/about-us#our-services">Our Services</a></li>
					<li><a href="/contact#faq">FAQ</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
				<div class="bs-disclaimer">Illustrations are artist’s concept. Prices and specifications are subject to change. E&O.E.<br/>A Joey Ai Creation.</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="bs-feed-heading-row">
					<h1 class="bs-heading">Our Feed</h1>
					<div class="bs-social-icons">
						<span>
							<svg class="bs-svg bs-icon-li" viewBox="0 0 17 16.6">
								<use xlink:href="#bs-icon-li" />
							</svg>
						</span>
						<span>
							<svg class="bs-svg bs-icon-fb" viewBox="0 0 320 512">
								<use xlink:href="#bs-icon-fb" />
							</svg>
						</span>
						<span>
							<svg class="bs-svg bs-icon-we" viewBox="0 0 16.996 13.878">
								<use xlink:href="#bs-icon-tw" />
							</svg>
						</span>
						<span>
							<svg class="bs-svg bs-icon-ig" viewBox="0 0 448 512">
								<use xlink:href="#bs-icon-ig" />
							</svg>
						</span>
					</div>
				</div>
				<img class="w-100 bs-img" src="/assets/img/feed.jpg"/>
			</div>
		</div>
	</div>
</footer>

<span class="bs-mobile-detect d-block d-lg-none"></span>

<script src="/assets/js/script.js?90"></script>
