<section class="bs-grid bs-animated-section">
	<a class="bs-grid-item" href="/coming-soon/menoke-by-the-lake.html" style="background-image: url('/assets/img/coming-soon-menoke-by-the-lake-thumb.jpg');">
		<div class="bs-grid-item-details bs-animated-item bs-animate-order-1">
			<svg class="bs-svg bs-logo-menoke" viewBox="0 0 198 60.5">
				<use xlink:href="#bs-logo-menoke" />
			</svg>
			<svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
				<use xlink:href="#bs-cta-arrow" />
			</svg>
		</div>
	</a>
	<a class="bs-grid-item" href="/future/lake-couchiching.html" style="background-image: url('/assets/img/future-lake-couchiching-thumb.jpg');">
		<div class="bs-grid-item-details bs-animated-item bs-animate-order-2">
			<p class="bs-eyebrow">FUTURE DEVELOPMENT</p>
			<h1 class="bs-heading">Lake Couchiching Residence</h1>
			<svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
				<use xlink:href="#bs-cta-arrow" />
			</svg>
		</div>
	</a>
	<a class="bs-grid-item" href="/future/memorial.html" style="background-image: url('/assets/img/future-memorial-residential-commercial-thumb.jpg');">
		<div class="bs-grid-item-details bs-animated-item bs-animate-order-3">
			<p class="bs-eyebrow">FUTURE DEVELOPMENT</p>
			<h1 class="bs-heading">Memorial Residential &amp; Commercial</h1>
			<svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
				<use xlink:href="#bs-cta-arrow" />
			</svg>
		</div>
	</a>
	<a class="bs-grid-item" href="/future/sand-cherry-court.html" style="background-image: url('/assets/img/future-sand-cherry-court-thumb.jpg');">
		<div class="bs-grid-item-details bs-animated-item bs-animate-order-4">
			<p class="bs-eyebrow">FUTURE DEVELOPMENT</p>
			<h1 class="bs-heading">Sand Cherry Court</h1>
			<svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
				<use xlink:href="#bs-cta-arrow" />
			</svg>
		</div>
	</a>
	<a class="bs-grid-item" href="#" style="background-image: url('/assets/img/future-hawk-ridge-residence-thumb.jpg');">
		<div class="bs-grid-item-details bs-animated-item bs-animate-order-5">
			<p class="bs-eyebrow">FUTURE DEVELOPMENT</p>
			<h1 class="bs-heading">Hawk Ridge Residence</h1>
			<svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
				<use xlink:href="#bs-cta-arrow" />
			</svg>
		</div>
	</a>
	<a class="bs-grid-item" href="#" style="background-image: url('/assets/img/future-6200-yonge-st-thumb.jpg');">
		<div class="bs-grid-item-details bs-animated-item bs-animate-order-6">
			<p class="bs-eyebrow">FUTURE DEVELOPMENT</p>
			<h1 class="bs-heading">6200 Yonge Street</h1>
			<svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
				<use xlink:href="#bs-cta-arrow" />
			</svg>
		</div>
	</a>
</section>