<form id="bs-register-form" action="register.php" method="post">
	<div class="bs-form-container bs-animated-item bs-animate-order-2">
		<input type="hidden" id="cid" name="cid" value="22864" />
		<input type="hidden" id="Origin" name="Origin" value="Microsite Registration" />
		<div class="row bs-form-fields">
			<div class="col-12">
				<div class="form-group">
					<input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name*">
					<small id="v-error-FirstName" class="invalid-feedback form-text text-danger">Please enter your first name.</small>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name*">
					<small id="v-error-LastName" class="invalid-feedback form-text text-danger">Please enter your last name.</small>
				</div>
			</div>
			<div class="col-6 bs-phone-col">
				<div class="form-group">
					<input type="tel" class="form-control" id="Phone" name="Phone" placeholder="Phone*">
					<small id="v-error-Phone" class="invalid-feedback form-text text-danger">Please enter your phone number.</small>
				</div>
			</div>
			<div class="col-6 bs-email-col">
				<div class="form-group">
					<input type="text" class="form-control" id="Email" name="Email" placeholder="Email*">
					<small id="v-error-Email" class="invalid-feedback form-text text-danger">Please enter your email address.</small>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<textarea class="form-control" id="Message" name="Message" placeholder="Message"></textarea>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group p-relative">
					<select class="bs-select" id="Custom2" name="Custom2">
						<option value="" disabled selected>How did you hear about us?</option>
						<option>Site signage</option>
						<option>Referral</option>
					</select>
					<small id="v-error-Custom2" class="invalid-feedback form-text text-danger">Please tell us how you heard about us.</small>
				</div>
			</div>
			<div class="col-12">
				<div class="bs-form-toggle">
					<input type="hidden" value="true" id="IsBroker" name="IsBroker" />
					<input type="checkbox" class="bs-checkbox" id="realtor-checkbox" />
					<label for="realtor-checkbox" class="bs-checkbox-label">Are you a Realtor?</label>
				</div>
			</div>
			<div class="col-12">
				<div class="form-group">
					<button type="submit" class="btn bs-btn @@btn bs-btn-submit">SUBMIT</button>
				</div>
			</div>
		</div>
	</div>
	<div class="bs-form-error-container">
		<p class="bs-copy">An error occured.<br/>Please try again later.</p>
	</div>
	<div class="bs-form-success-container">
		<p class="bs-copy">Thank you<br/>for your registration!</p>
	</div>
</form>
