<section class="bs-grid bs-animated-section"> <a class="bs-grid-item" href="/coming-soon/menoke-by-the-lake" style="background-image: url('/assets/img/coming-soon-menoke-by-the-lake-thumb.jpg');">
        <div class="bs-grid-item-details bs-animated-item bs-animate-order-1">
            <svg class="bs-svg bs-logo-menoke" viewBox="0 0 198 60.5">
                <use xlink:href="#bs-logo-menoke" />
            </svg>
            <svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
                <use xlink:href="#bs-cta-arrow" />
            </svg>
        </div>
    </a>
    <a class="bs-grid-item" href="/future/turnbull-lakeside" style="background-image: url('/assets/img/future-turnbull-lakeside-thumb.jpg');">
        <div class="bs-grid-item-details bs-animated-item bs-animate-order-2">
            <p class="bs-eyebrow">FUTURE DEVELOPMENT</p>
            <h1 class="bs-heading">Turnbull Lakeside</h1>
            <svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
                <use xlink:href="#bs-cta-arrow" />
            </svg>
        </div>
    </a>
    <a class="bs-grid-item" href="/future/memorial" style="background-image: url('/assets/img/future-memorial-thumb.jpg');">
        <div class="bs-grid-item-details bs-animated-item bs-animate-order-3">
            <p class="bs-eyebrow">FUTURE DEVELOPMENT</p>
            <h1 class="bs-heading">Memorial Avenue</h1>
            <svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
                <use xlink:href="#bs-cta-arrow" />
            </svg>
        </div>
    </a>
    <a class="bs-grid-item" href="/future/sand-cherry-court" style="background-image: url('/assets/img/future-sand-cherry-court-thumb.jpg');">
        <div class="bs-grid-item-details bs-animated-item bs-animate-order-4">
            <p class="bs-eyebrow">FUTURE DEVELOPMENT</p>
            <h1 class="bs-heading">Sand Cherry Court</h1>
            <svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
                <use xlink:href="#bs-cta-arrow" />
            </svg>
        </div>
    </a>
    <a class="bs-grid-item" href="/future/hawk-ridge-residence" style="background-image: url('/assets/img/future-hawk-ridge-residence-thumb.jpg');">
        <div class="bs-grid-item-details bs-animated-item bs-animate-order-5">
            <p class="bs-eyebrow">FUTURE DEVELOPMENT</p>
            <h1 class="bs-heading">Hawk Ridge Residence</h1>
            <svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
                <use xlink:href="#bs-cta-arrow" />
            </svg>
        </div>
    </a>
    <a class="bs-grid-item" href="/future/6200-yonge-street" style="background-image: url('/assets/img/future-6200-yonge-st-thumb.jpg');">
        <div class="bs-grid-item-details bs-animated-item bs-animate-order-6">
            <p class="bs-eyebrow">FUTURE DEVELOPMENT</p>
            <h1 class="bs-heading">6200 Yonge Street</h1>
            <svg class="bs-svg bs-cta-arrow" viewBox="0 0 34.295 34.325">
                <use xlink:href="#bs-cta-arrow" />
            </svg>
        </div>
    </a>

</section>