
//
// imports

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/owl.carousel/src/scss/owl.carousel";
@import "_mixins.scss";
@import "_fonts.scss";

//
// global style rules incl. form controls, buttons, vimeo embed

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova',sans-serif;
	font-size: 10px;
	font-weight: 300;
	line-height: 1.75;
	color: #000;
	background-color: #fff;

	@include media-breakpoint-up(md) {
		font-size: 8.75px;
	}

	@include media-breakpoint-up(lg) {
		font-size: 11.75px;
	}

	@include media-breakpoint-up(xl) {
		font-size: 16px;
	}
}

a,
a:hover,
a:focus,
a:visited {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: inherit;
	margin-bottom: 0;
}

.svg-defs {
	display: none;
}

.bs-img {
	width: 100%;
}

.bs-svg {
	width: 100%;
	fill: #fff;
}

.form-group,
.bs-form-toggle {
	margin-bottom: 1em;
}

.form-control {
	border-color: #000;
	border-radius: 0;
	color: #000;
	padding: 1.25rem 0.75rem;

	&::placeholder {
		color: #000;
	}
}

.bs-select-choice {
	text-align: center;
	font-weight: 400;
	line-height: 1.15;

	@include media-breakpoint-down(sm) {
		font-size: 3em;
	}

	@include media-breakpoint-up(md) {
		font-size: 4em;
	}
}

.bs-select {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}

.form-check {
	position: relative;

	.form-check-input {
		appearance: none;
		position: absolute;
		width: 1em;
		height: 1em;
		border: 1px solid #D5D5D5;
		outline: none;

		&:focus {
			border-color: #000;
		}

		&:checked::before {
			content: '';
			position: absolute;
			width: 30%;
			height: 50%;
			transform: translate(-50%,-65%) rotate(45deg);
			border: solid #FA213E;
			border-width: 0 0.2em 0.2em 0;
			left: 50%;
			top: 50%;
		}
	}

	.form-check-label {
		margin: 0 0 0 1em;
		font-size: 0.7em;
		line-height: 1.5;
	}
}

.bs-btn,
.bs-btn:hover {
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
	border-width: 0;
	padding: 0;
	cursor: pointer;

	&,
	&:hover {
		color: inherit;
	}
}

.bs-heading {
	font-weight: 400;
	line-height: 1.15;
	text-align: center;

	@include media-breakpoint-down(sm) {
		font-size: 3em;
	}

	@include media-breakpoint-up(md) {
		font-size: 4em;
	}
}

.bs-copy {
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
}

.bs-btn {
	font-size: 2.5em;
	font-weight: 400;
	text-align: center;
	text-decoration: underline;
	margin: 0 auto;
	display: block;
}

.bs-iframe-container {
	position: relative;
	padding-top: 100%;

	.bs-iframe {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

//
// sections

