//
// overriding a few bootstrap variables

$grid-gutter-width: 4em;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1530px
);

//
// imports

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/owl.carousel/src/scss/owl.carousel";
@import "_mixins.scss";
@import "_fonts.scss";

//
// animated sections

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bs-animated-item {
  opacity: 0;
  transform: translateY(-10px);
}

.bs-animated .bs-animated-item {
  animation: animate-in .4s ease-out;
  animation-fill-mode: both;

  &.bs-animate-order-1 {
    animation-delay: 0;
  }

  &.bs-animate-order-2 {
    animation-delay: .2s;
  }

  &.bs-animate-order-3 {
    animation-delay: .4s;
  }
  
  &.bs-animate-order-4 {
    animation-delay: .6s;
  }
  
  &.bs-animate-order-5 {
    animation-delay: .8s;
  }
  
  &.bs-animate-order-6 {
    animation-delay: 1s;
  }
}

//
// global style rules incl. form controls, buttons, vimeo embed

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova',sans-serif;
	font-size: 10px;
	font-weight: 300;
	line-height: 1.75;
	color: #000;
	background-color: #fff;

	@include media-breakpoint-up(md) {
		font-size: 8.75px;
	}

	@include media-breakpoint-up(lg) {
		font-size: 11.75px;
	}

	@include media-breakpoint-up(xl) {
		font-size: 16px;
	}

	@include media-breakpoint-up(xxl) {
		font-size: 21.5px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: inherit;
	margin-bottom: 0;
}

.svg-defs {
	display: none;
}

.bs-img {
	width: 100%;
}

.bs-svg {
	width: 100%;
	fill: #fff;
}

.form-group,
.bs-form-toggle {
	margin-bottom: 1em;
}

.form-control {
	border-color: transparent;
	border-radius: 0;
	border-width: 0;
	color: #000;
	margin: 0;
	padding: 0.75em;
	font-size: 1em;
	line-height: 1;

	&,
	&:hover {
		background-color: #eee;
	}

	&::placeholder {
		color: #aaa;
	}
}

.bs-select-choice {
	text-align: center;
	font-weight: 400;
	line-height: 1.15;

	@include media-breakpoint-down(sm) {
		font-size: 3em;
	}

	@include media-breakpoint-up(md) {
		font-size: 4em;
	}
}

.bs-select {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}

.form-check {
	position: relative;

	.form-check-input {
		appearance: none;
		position: absolute;
		width: 1em;
		height: 1em;
		border: 1px solid #D5D5D5;
		outline: none;

		&:focus {
			border-color: #000;
		}

		&:checked::before {
			content: '';
			position: absolute;
			width: 30%;
			height: 50%;
			transform: translate(-50%,-65%) rotate(45deg);
			border: solid #FA213E;
			border-width: 0 0.2em 0.2em 0;
			left: 50%;
			top: 50%;
		}
	}

	.form-check-label {
		margin: 0 0 0 1em;
		font-size: 0.7em;
		line-height: 1.5;
	}
}

.bs-btn,
.bs-btn:hover {
	display: inline-block;
	margin-right: 0.5em;
	margin-bottom: 0;
	background-color: #fff;
	color: #000;
	font-size: 0.875em;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	border-color: #fff;
	border-radius: 0.25em;
	border-width: 0;
	border-style: solid;
	padding: 0.75em 2.5em;
	cursor: pointer;
	letter-spacing: 0.125em;
	transition: all 200ms ease;

	&:hover {
		//background-color: #000;
		//color: #fff;
		transform: scale(1.05);
	}

	&:active {
		transform: scale(1.05) translateY(0.125em);
		transition: all 50ms ease;
	}

	&.bs-invert {
		background-color: #000;
		color: #fff;
	}
}

.bs-heading {
	font-size: 2.75em;
	font-weight: 700;
	line-height: 1.15;
	margin-bottom: 0.625em;

	// @include media-breakpoint-down(sm) {
	// 	font-size: 3em;
	// }

	// @include media-breakpoint-up(md) {
	// 	font-size: 4em;
	// }
}

.bs-eyebrow {
	margin-bottom: 2em;
	font-size: 0.875em;
	font-weight: 700;
	letter-spacing: 0.125em;
}

.bs-copy {
	margin-bottom: 1.25em;
}

.bs-iframe-container {
	position: relative;
	padding-top: 100%;

	.bs-iframe {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

@keyframes pin-anim-loop {
	// 0% { transform: rotate3d(0,0.5,0,-30deg) skew(0,5deg); }
	// 50% { transform: rotate3d(0,0.5,0,30deg) skew(0,-5deg); }
	// 100% { transform: rotate3d(0,0.5,0,-30deg) skew(0,5deg); }
	0% { transform: scale(0.9); }
	50% { transform: scale(1); }
	100% { transform: scale(0.9); }
}

@keyframes pin-drop {
	to { transform: translateY(0%); }
}

.bs-animated-pin-container {
	transform: translateY(-500%);

	.bs-pin {
		width: 1.75em;
		height: 2.625em;
		animation-name: pin-anim-loop;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		transform-origin: 50% 100%;
	}
}

.bs-animated .bs-animated-pin-container {
	animation-name: pin-drop;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(.83,.29,1,1);
}

//
// sections

header {
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	left: 0;
	height: 6.75em;
	display: flex;
	align-items: center;

	.bs-to-home {
		display: block;
		width: 12.5em;
		height: 3.25em;
		margin-left: 2.25em;

		.bs-svg {
			fill: #fff;
		}
	}

	.bs-nav {
		position: absolute;
		z-index: 2;
		right: 2.25em;
		transition: transform 200ms ease;
		transform: scaleY(0);
		pointer-events: none;

		.bs-btn {
			margin-right: 0;
			margin-left: 0.5em;
			color: #fff;
			transition: color 200ms ease;
		}
	}

	&.bs-nav-open .bs-nav {
		transform: scaleY(1);
		pointer-events: auto;

		.bs-btn {
			color: #000;
		}
	}

	.bs-nav-toggle {
		position: relative;
		width: 1.5em;
		height: 1.5em;
		margin-left: auto;
		margin-right: 2.25em;
		display: flex;
		align-items: center;
		cursor: pointer;

		.bs-icon {
			position: absolute;
			width: 100%;
			height: 0.125em;
			background-color: #000;

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: #000;
			}

			&::before {
				transform: translateY(-400%);
			}

			&::after {
				transform: translateY(400%);
			}
		}
	}
}

section {
	position: relative;
	z-index: 2;
	background-color: #fff;
}

.home {
	.bs-hero {

		&.bs-gallery-active .bs-slide .bs-image {
			transition: opacity 1s ease;
		}

		.bs-slide {

			.bs-dots {
				position: absolute;
				z-index: 10;
				right: 0;
				bottom: 2em;
				left: 0;
				display: flex;
				justify-content: center;

				.bs-dot {
					width: 0.5em;
					height: 0.5em;
					margin: 0 0.5em;
					border-radius: 50%;
					background-color: #fff;
					opacity: 0.325;
					transition: opacity 1s ease;

					&.bs-active {
						opacity: 1;
					}
				}
			}
			.bs-image {
				z-index: 1;
				opacity: 0;

				&.bs-active {
					z-index: 3;
					opacity: 1;
				}

				&.bs-rear {
					z-index: 2;
					opacity: 1;
				}
			}
		}
	}
}

.bs-hero {
	z-index: 1;

	.bs-slide {
		position: relative;
		padding-top: 56.25%;
		color: #fff;
		overflow: hidden;

		.bs-image {
			width: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.bs-slide-details {
			position: absolute;
			z-index: 10;
			right: 0;
			bottom: 0;
			left: 0;
			text-align: center;

			.bs-animated-pin-container {
				transform: translateY(-1300%);

				.bs-pin {
					margin-bottom: 0.875em;
				}
			}

			.bs-logo-menoke {
				width: 27em;
				margin-bottom: 3em;
			}

			.bs-btn-row {
				margin-bottom: 5em;
			}
		}
	}
}

.bs-half-hero {
	z-index: 1;
	position: relative;
	height: 50.625em;

	.bs-image-col {
		height: 100%;
		padding-left: 0;

		.bs-image {
			width: 100%;
		}
	}

	.bs-text-col {
		padding-top: 4em;

		.bs-eyebrow {
			margin-bottom: 0.75em;
		}

		.bs-copy {
			margin-right: 14em;
		}

		.bs-list {
			list-style: none;
			margin-left: 0;
			padding: 0;
			font-size: 1.125em;
			font-weight: 700;
		}
	}
}

.bs-welcome {
	padding-top: 5em;
	padding-bottom: 5em;

	.bs-eyebrow {
		text-align: center;
	}

	.bs-copy {
		font-size: 1.75em;
		font-weight: 700;
		line-height: 1.5;
		text-align: center;
	}

	.bs-btn-row {
		text-align: center;
	}
}

.bs-coming-soon {
	background-image: url('../img/coming-soon-menoke-by-the-lake-landing.jpg');
	background-size: cover;
	padding: 14em 4.5em 4.5em 4.5em;
	color: #fff;

	.bs-animated-pin-container {
		transform: translateY(-1000%);

		.bs-pin {
			margin-bottom: 0.875em;
		}
	}

	.bs-eyebrow {
		margin-bottom: 1em;
	}

	.bs-copy {
		margin-bottom: 2.5em;
	}

	.bs-btn-row {
		margin-bottom: 2.75em;
	}

	.bs-logo-menoke {
		width: 12.375em;
		height: 3.875em;
	}
}

.bs-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	padding-top: 1em;

	.bs-grid-item {
		overflow: hidden;
		position: relative;
		background-position: 50% 50%;
		background-size: 100%;
		padding-top: 100%;
		color: #fff;
		transition: background-size 200ms ease;

		&:hover {
			background-size: 105%;
		}

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.7));
			opacity: 0.6;
			transition: opacity 200ms ease;
		}

		&:hover::before {
			opacity: 1;
		}

		.bs-grid-item-details {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			text-align: center;

			.bs-eyebrow {
				margin-bottom: 0.5em;
			}

			.bs-heading {
				font-size: 1.5em;
				margin-bottom: 1em;
			}

			.bs-svg {
				display: block;
				margin: 0 auto;
			}

			.bs-logo-menoke {
				width: 20em;
				margin-bottom: 5em;
			}

			.bs-cta-arrow {
				width: 2.25em;
				height: 2.25em;
				fill: #fff;
				transform: rotate(90deg);
				margin-bottom: 2em;
			}
		}
	}

	.bs-grid-cta {
		position: relative;
		z-index: -1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 3em;

		.bs-animated-pin-container {
			transform: translateY(-600%);
			animation-delay: 0.5s,
		}

		.bs-pin {
			width: 2em;
			fill: #000;
			margin-bottom: 2em;
		}

		.bs-copy {
			font-size: 1.5em;
			font-weight: 700;
			line-height: 1.325;
			margin-bottom: 1.75em;
		}
	}
}

.bs-video-section {
	padding-top: 5em;
}

.bs-image-section {
	padding-bottom: 5em;
}

.bs-details-section {
	padding-bottom: 5em;
	text-align: center;

	.bs-subheading {
		font-size: 1.5em;
		line-height: 1.25;
	}
}

.bs-register {
	padding-top: 5em;
	padding-bottom: 5em;

	.bs-heading {
		font-size: 3em;
	}

	.bs-copy {
		display: none;
	}

	&[data-has-details="true"] .bs-copy {
		display: block;
		margin-top: -1em;
		margin-bottom: 2em;
		font-size: 0.875em;
	}

	.bs-eyebrow {
		display: inline-block;
		margin-top: 1.875em;
		margin-right: 2em;
	}

	#bs-register-form {
		position: relative;

		.bs-form-error-container,
		.bs-form-success-container {
			position: absolute;
			width: 100%;
			left: 0;
			top: 10em;
			text-align: center;
			opacity: 0;
			pointer-events: none;
		}

		&.bs-success,
		&.bs-error {
			.bs-form-container {
				opacity: 0;
			}
		}

		&.bs-success .bs-form-success-container,
		&.bs-error .bs-form-error-container {
			opacity: 1;
		}

		.bs-phone-col {
			padding-right: 0.5em;
		}

		.bs-email-col {
			padding-left: 0.5em;
		}
	}

	.bs-map {
		height: 100%;
		object-fit: cover;
	}
}

footer {
	padding-top: 5em;
	padding-bottom: 5em;

	.bs-to-home {
		display: block;
		width: 12.5em;
		height: 3.25em;

		.bs-svg {
			fill: #000;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		columns: 2;

		li {
			margin-bottom: 1em;
			a,
			a:hover {
				color: inherit;
				font-weight: 400;
			}
		}
	}
	.bs-disclaimer {
		font-size: 0.75em;
		color: #ccc;
		line-height: 1.325;
	}
	.bs-feed-heading-row {
		display: flex;

		.bs-heading {
			font-size: 1.75em;
			margin-bottom: 0.5em;
			margin-right: auto;
		}
	}
}

//
// styles for specific pages

.coming-soon {
	.bs-hero .bs-slide.bs-menoke {

		.bs-slide-details {
			color: #000;
			top: 2em;
			bottom: auto;

			.bs-svg {
				fill: #000;
			}
		}
		.bs-slide-details-2 {
			position: absolute;
			right: 0;
			bottom: 4em;
			left: 0;
			text-align: center;

			.bs-heading {
				font-size: 2.5em;
				margin-bottom: 0;
			}

			.bs-subheading {
				font-size: 1.25em;
				font-weight: 400;
				letter-spacing: 0.25em;
			}
		}
	}

	.bs-grid {
		grid-template-rows: repeat(1, 1fr);

		.bs-grid-item {
			padding-top: 66.6%;

			.bs-heading {
				margin-bottom: 0.5em;
			}

			.bs-cta-arrow {
				transform: rotate(180deg);
			}
		}
	}

	.bs-3-reasons {
		padding-top: 5em;
		padding-bottom: 5em;

		.bs-carousel {
			.bs-slide {
				.bs-copy-col {
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-left: 5em;

					.bs-eyebrow {
						margin-bottom: 1em;
					}

					.bs-heading {
						margin-bottom: 1em;
						font-size: 1.5em;
					}

					.bs-copy {
						margin-bottom: 2em;
					}
				}
			}

			.owl-nav {
				position: absolute;
				top: 50%;
				left: 50%;
				height: 2.25em;
				transform: translate(-50%,-50%);
				opacity: 0;
				transition: opacity 200ms ease;

				@each $breakpoint, $container-max-width in $container-max-widths {
					width: $container-max-width;
				}

				.owl-prev,
				.owl-next {
					position: absolute;
					width: 2.25em;
					height: 2.25em;
					cursor: pointer;
					transition: opacity 200ms ease;

					&:focus {
						outline: none;
					}
				
					span {
						display: none;
					}
					&.disabled {
						opacity: 0;
					}
				}
				.owl-prev {
					left: 1em;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34.3 34.3'%3E%3Ccircle cx='17.1' cy='17.1' fill='%23231f20' r='17.1'/%3E%3Cpath d='m14.5 17 8.4-8.2-2.8-2.9-11.3 11.3 11.2 11.2 3.1-2.9z' fill='%23fff'/%3E%3C/svg%3E");
				}

				.owl-next {
					right: 1em;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34.3 34.3'%3E%3Ccircle cx='17.1' cy='17.2' fill='%23000' r='17.1'/%3E%3Cpath d='m19.7 17.3-8.3 8.3 2.8 2.8 11.3-11.2-11.3-11.3-3 3z' fill='%23fff'/%3E%3C/svg%3E");
				}
			}

			&:hover .owl-nav {
				opacity: 1;
			}
		}
	}

	.bs-seasons {

		.bs-header-row {
			display: flex;
			height: 6.75em;
			justify-content: stretch;

			.bs-heading {
				width: 25%;
				flex-basis: 25%;
				height: 4.5em;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #000;
				font-size: 1.5em;
				font-weight: 700;
				color: #fff;
			}

			.bs-seasons-nav {
				width: 75%;
				flex-basis: 75%; 
				position: relative;
				display: flex;
				background-color: #000;

				.bs-item {
					width: 25%;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: background-color 200ms ease;
					cursor: pointer;

					.bs-icon {
						width: 2em;
						fill: #fff;
						margin-right: 1em;
						transition: fill 200ms ease;
					}

					.bs-label {
						color: #fff;
						font-weight: 700;
						transition: color 200ms ease;
					}
				}

				@for $i from 0 through 3 {
					&[data-active-slide="#{$i}"] {
						.bs-item-#{$i} {
							background-color: #eee;

							.bs-icon {
								fill: #000;
							}

							.bs-label {
								color: #000;
							}
						}

						.bs-pin {
							left: (25% * $i);
						}
					}
				}
				.bs-pin {
					position: absolute;
					top: -1.75em;
					left: 0;
					width: 25%;
					height: 3.5em;
					fill: #000;
					transition: left 200ms ease;
				}
			}
		}

		.bs-slide {
			display: flex;

			.bs-event {
				position: relative;
				flex-basis: 25%; 
				display: flex;
				flex-direction: column;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 1px;
					background-color: rgba(0,0,0,0.25);
				}

				.bs-cta-arrow {
					position: absolute;
					width: 2em;
					transform: translate(-50%,-50%) rotate(90deg);
					top: 22%;
				}

				.bs-details {
					flex-grow: 1;
					padding: 3em;
					display: flex;
					flex-direction: column;

					.bs-time {
						font-size: 0.75em;
						font-weight: 700;
					}

					.bs-activity {
						margin-bottom: 1em;
						//font-size: 1.25em;
						font-weight: 700;
						line-height: 1.2;
						margin-top: 0.25em;
					}

					.bs-description {
						font-size: 0.9375em;
						margin-bottom: 2em;
						color: #666;
					}

					.bs-distance {
						margin-top: auto;
						display: flex;
						align-items: baseline;

						.bs-pin {
							width: 1.365em;
							fill: #000;
							margin-right: 0.75em;
							transform: translateY(0.2em);
						}

						.bs-mins {
							font-size: 1.5em;
							font-weight: 700;
						}

						.bs-from-home {
							margin-left: 0.75em;
							font-size: 0.75em;
							font-weight: 700;
							letter-spacing: 0.0625em;
						}
					}
				}
			}
		}
	}

	.bs-register {
		background-color: #000;
		color: #fff;
	}
}
